<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>게시글 상세 페이진데 어쩌라고....</h1>
  <p>게시 번호다.. : {{ article.pk }}</p>
  <p>제목이다.. : {{ article.title }}</p>
  <p>작성 언제했냐? : {{ article.created_pk }}</p>
  <p>수정도 했다.. : {{ article.updated_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form> 
  <a href="{% url 'articles:index' %}">[ BACK ]</a>
</body>
</html>